@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Playfair Display", serif;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: minmax(80px, auto) 1fr;
}

/* Header styling */

.header {
  background-color: #15803d;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-weight: 900;
  font-style: italic;
  font-size: 3rem;
  margin: 0;
  text-align: center;
}

.new-book {
  padding: 10px 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #15803d;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1.5rem;
}

.new-book:hover {
  background-color: rgb(245, 245, 245);
}

.new-book:focus {
  background-color: rgb(231, 231, 231);
}

/* Books grid area */

.library {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  align-content: start;
  padding: 25px;
  gap: 15px;
}

.card {
  background-color: white;
  border: 1px solid #15803d;
  border-radius: 8px;
  z-index: 2;
  padding: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

/* Popup form for adding books */

.modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  left: 0;
  top: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}

.modal-content {
  background-color: #15803d;
  /* padding: 20px 50px 50px; */
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.modal-heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 900;
  font-style: italic;
  font-size: 2rem;
  color: white;
  text-align: center;
}

.modal-exit {
  align-self: flex-end;
  color: white;
  margin-top: 10px;
  margin-right: 10px;
}

.modal-inner {
  margin: 0px 50px 50px;
}

.modal-inner > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
}

.modal-content > form > input {
  background-color: white;
  border-radius: 0px;
  border: 1px solid white;
}
